@helper getChild(bool usl, int ID)
{
foreach (webDrevo.Models.Folder fld in Model)
{
    if (fld.ParentID==ID)
    {
        <li>
            <ul>
                <li>@fld.Name</li>
            </ul>
        </li>
    }
}
}
<div>
    <h2>Древо каталогов</h2>   
    <ul>
        @foreach (webDrevo.Models.Folder b in Model)
        {         
                if (b.ParentID == 0)
                {
                    <li>
                        @b.Name;
                    </li>                                        
                    @getChild(false,b.Id);

            }
        }
    </ul>
</div>