@model IEnumerable<webDrevo.Models.Folder>
@{
    Layout = null;
}
<div>
    <h3>Список каталогов</h3>
    <table>
        <tr class="header">
            <td><p>ID Катлога</p></td>
            <td><p>Имя каталога</p></td>
            <td><p>ID родителя</p></td>
            <td></td>
        </tr>
        @foreach (webDrevo.Models.Folder b in Model)
            {
            <tr>
                <td><p>@b.Id</p></td>
                <td><p>@b.Name</p></td>
                <td><p>@b.ParentID</p></td>
            </tr>
        }
    </table>
</div>